<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>快递区块链注册网站</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/form-elements.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/templates/register">Registration</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								欢迎访问
							</span>
							<span class="li-text">
								<strong>全民记件官网:</strong>
							</span> 
							<span class="li-social">
								<a href="#"><i class="fa fa-mail-forward"></i></a> 
								<a href="#"><i class="fa fa-mail-reply"></i></a> 
								<a href="#"><i class="fa fa-magic"></i></a> 
								<a href="#"><i class="fa fa-mobile"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>快递区块链</strong>注册</h1>
                            <div class="description">
                            	<p>
	                            	欢迎来到 全民记件注册官网！
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 book">
                    		<img src="/static/assets/img/4.jpg" alt="">
                    	</div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>请输入用户信息</h3>
                            		<p>高兴写什么就可以写什么</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">账号..</label>
			                        	<input type="text" name="form-first-name" placeholder="账号..." class="form-account form-control" id="form-account">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">密码..</label>
			                        	<input type="text" name="form-last-name" placeholder="密码..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">用户名..</label>
			                        	<input type="text" name="form-last-name" placeholder="用户名..." class="form-user-name form-control" id="form-user-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">邮箱</label>
			                        	<input type="text" name="form-email" placeholder="邮箱..." class="form-email form-control" id="form-email">
			                        </div>
			                        <button class="btn" onclick="window.location.href='/templates/login'">返回登陆界面</button>
			                        <button type="submit" class="btn" float="right" id="register">提交</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/jquery.backstretch.min.js"></script>
        <script src="/static/assets/js/retina-1.1.0.min.js"></script>
        <script src="/static/assets/js/scripts.js"></script>
        <script>
        	$("#register").click(function(){
        		var data={account:$("#form-account").val(),
        		password:$("#form-password").val(),
        		username:$("#form-user-name").val(),
        		email:$("#form-email").val()
        		};
        		//alert(JSON.stringify(data));
        		$.ajax({
        			type:"GET",
        			url:"1.txt",
        			async:true,
        			data:data,
        			dataType:"text",
        			success:function(result){
        				console.log("123");
        				alert(JSON.stringify(data));
        				alert("hh");
        				alert(result);
        			},
        			error:function(result){
        				console.log("1223");
        				alert(JSON.stringify(data));
        				alert("error");
        				alert(result);
        			}
        		});
        	})
        </script>
        <!--[if lt IE 10]>
            <script src="/static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>